@import "compass";
@import "./base";

header {
  margin-bottom: 20px;
  height: 255px;

  .top-info {
    height: 50px;
    background: #f6f6f6;

    .top-info-content {
      width: 970px;
      margin: 0 auto;
      padding: 15px 0px;
      font-size: 16px;

      .cities {
        @include inline-block;
        margin-left: 13px;
        float: left;

        .current-city {
          color: #2b2a2a;
          text-decoration: none;
          border-bottom: 1px dotted #2b2a2a;
        }

        .rest-cities {
          display: none;
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }

      .links {
        @include inline-block;
        text-align: right;
        float: right;

        a{
          color: #2b2a2a;
          text-decoration: none;
          margin-left: 30px;
        }

        .enter-link {
          margin-left: 50px;
          color: #f75195;
          border-bottom: 1px dotted #f75195;
        }

        .basket-link {
          margin-left: 50px;
          border-bottom: 1px solid rgba(#2b2a2a, 0.5);
        }

        .enter-link,
        .basket-link {
          position: relative;

          &:before {
            position: absolute;
            top: 0px;
            left: -20px;
            width: 15px;
            height: 15px;
            display: block;
            content: "";
          }
        }

        .enter-link:before{
          background: url('../img/main/mincro_sprite.png') -21px 0px;
        }

        .basket-link:before{
          width: 16px;
          left: -22px;
          background: url('../img/main/mincro_sprite.png') -41px 0px;
        }

      }

    }

  }

  .logo-info-search {
    height: 55px;
    width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 20px 0px 30px 0px;

    &:after{
      position: absolute;
      bottom: -8px;
      left: -36px;
      display: block;
      height: 8px;
      width: 1012px;
      content: "";
      background: url('../img/main/bottom_shadow.png');
    }

    .logo {
      float: left;
      margin: 0px 80px 0px 0px;
    }

    .phone {
      font-family: 'proxima_nova_ltlight';
      font-size: 24px;
      color: #494c4e;
      line-height: 60px;
    }

    .our-shops {
      margin-left: 60px;
      font-size: 16px;
      text-decoration: none;
      color: #3581e5;
      border-bottom: 1px solid rgba(#3581e5, 0.5);
      position: relative;

      &:before{
        position: absolute;
        top: 0px;
        left: -19px;
        display: block;
        height: 17px;
        width: 13px;
        content: "";
        background: url('../img/main/mincro_sprite.png') 0px -20px;
      }
    }

    .search-form {
      @include inline-block;
      margin-left: 30px;
      width: 380px;
      position: relative;

      &:before{
        position: absolute;
        top: 9px;
        left: 10px;
        display: block;
        content: "";
        width: 20px;
        height: 17px;
        background: url('../img/main/mincro_sprite.png') 0px 0px;
      }

      .search-box {
        @include border-radius(2px);
        @include box-shadow(rgba(#000, 0.5) 0 1px 4px inset);
        width: 245px;
        height: 32px;
        background: #fff;
        border: 0;
        padding: 0px 10px 0px 35px;
      }

      .search-submit {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        width: 82px;
        height: 31px;
        padding: 0;
        border: none;
        background: url("../img/main/search.png");
        color: #fff;
        outline: none;
      }
    }

  }

  .main-menu-container {
    width: 965px;
    margin: 20px auto 0px auto;

    .main-menu {
      @include inline-block;
      list-style: none;
      margin: 0px;
      padding: 0px;

      .main-menu-item {
        @include inline-block;
        text-align: center;
        margin-right: 19px;       

        .main-menu-link {
          background: url("../img/main/main_menu.png") no-repeat;
          height: 25px;
          padding-top: 55px;
          display: block;
          text-transform: uppercase;
          font-size: 10px;
          color: #292929;
          text-decoration: none;

          &.photo {
            background-position-x: 20px;
            width: 80px;
          }
          &.lens {
            background-position-x: -80px;
            width: 60px;
          }
          &.flash {
            background-position-x: -165px;
            width: 50px;
          }
          &.accesorize {
            background-position-x: -240px;
            width: 62px;
          }
          &.storage {
            background-position-x: -330px;
            width: 52px;
          }
          &.portable {
            background-position-x: -408px;
            width: 68px;
          }
          &.materials {
            background-position-x: -505px;
            width: 60px;
          }
          &.studio {
            background-position-x: -585px;
            width: 80px;
          }
          &.used {
            background-position-x: -686px;
            width: 48px;
          }
          &.misc {
            background-position-x: -765px;
            width: 42px;
          }
          &:hover{
            background-position-y: -119px;
          }        
        }
      }
    }

    .photo-service {
      @include inline-block;
      width: 124px;
      height: 25px;
      background: url('../img/main/photo_service.png');
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      padding-top: 68px;
      margin-left: 9px;
    }
  }

}