@import "compass";

$borderColor: #efefef;
$headingsColor: #393838;
$newsDateColor: #757373;
$boldTextColor: #2b2a2a;
$itemTitleColor: #2e2d2e;
$linkColor: #246fd0;
$frameColor: #ffd503;

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/fonts/mark_simonson_-_proxima_nova_bold-webfont.eot');
    src: url('/fonts/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'),
         url('/fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype'),
         url('/fonts/mark_simonson_-_proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('/fonts/mark_simonson_-_proxima_nova_light-webfont.eot');
    src: url('/fonts/mark_simonson_-_proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mark_simonson_-_proxima_nova_light-webfont.woff') format('woff'),
         url('/fonts/mark_simonson_-_proxima_nova_light-webfont.ttf') format('truetype'),
         url('/fonts/mark_simonson_-_proxima_nova_light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
    src: url('/fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'),
         url('/fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype'),
         url('/fonts/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background: #fff;
  font-size: 14px;
  line-height: 14px;
  font-family: 'proxima_nova_rgregular', Arial;
}

.content {
  width:  970px;
  margin: 0 auto;
}

.main-info {
  border-top: 2px solid $borderColor;
  padding: 30px 4px 0px 4px;

  .news {
    @include inline-block;
    @include border-radius(2px);
    vertical-align: top;
    width: 250px;
    height: 416px;
    padding: 20px;
    border: 2px solid $borderColor;
  }

  .banners {
    @include inline-block;
    @include border-radius(2px);
    overflow: hidden;
    width: 652px;
    height: 460px;
    margin-left: 12px;
    background: #eee;
  }
}

.news {
  h3{
    color: $headingsColor;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
  }

  .all-news {
    display: block;
    width: 40px;
    height: 20px;
    float: right;
    background: url('/img/main/all_news.png');
  }

  .news-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .single-news{
      margin: 20px 0px 0px 0px;
      height: 77px;

      img {
        float: left;
        margin: 0px 18px 0px 0px;
      }

      .date {
        color: $newsDateColor;
        font-size: 14px;
        display: block;
        padding: 2px 0px 5px 0px;
      }

      .news-content {
        color: $boldTextColor;
        font-weight: bold;
        text-decoration: none;
        line-height: 1.4;

        &:hover{
          color: $linkColor;
          text-decoration: underline;
        }
      }
    }
  }
}

.banners {
  .banner-container {
    position: relative;
  }

  .full-banners {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 652px;
    height: 460px;
    overflow: hidden;
  }

  .banners-navigation {
    position: absolute;
    bottom: 22px;
    left: 0px;
    width: 100%;
    height: 51px;

    .prev-banner,
    .next-banner {
      width: 8px;
      height: 13px;
      position: absolute;
      top: 20px;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }

    .prev-banner {
      left: 12px;
    }

    .next-banner {
      right: 12px;
    }

    .banners-preview {
      list-style: none;
      width: 585px;
      height: 51px;
      overflow: hidden;
      margin: 0 auto;
      padding: 0px;

      .single-banner-preview a{
        @include border-radius(4px);
        display: block;
        float: left;
        border: 2px solid rgba(#fff, 0.4);
        height: 37px;
        line-height: 1.3;
        padding: 10px 10px 0px 10px;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        font-family: 'proxima_nova_rgbold';
        text-transform: uppercase;
        text-decoration: none;
        width: 88px;
        margin: 0 2.5px;

        &:hover{
          border: 2px solid #fff;
          background: rgba(#fff, 0.22);
        }
      }
    }
  }

  .all-deals {
    display: block;
    width: 104px;
    height: 31px;
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 12px;
    color: #474747;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    background: url('/img/main/all_deals.png');
  }

}

.new-goods {
  margin: 55px 5px 0px 5px;
  width: 954px;
  height: 412px;
  position: relative;
  border: 3px solid $frameColor;
  text-align: center;

  .new-goods-header {
    @include inline-block;
    font-size: 20px;
    color: $headingsColor;
    text-transform: uppercase;
    padding: 0px 40px;
    background: #fff;
    font-weight: normal;
    margin: 0;
    top: -8px;
    position: relative;
  }

  .new-goods-container {
    padding: 41px 15px 30px 15px;
    text-align: left;
  }

}

.popular-goods {
  text-align: center;
  margin: 55px 0px 50px 0px;

  .popular-goods-heading {
    width: 630px;
    margin: 0px auto 45px auto;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    color: $headingsColor;
    background: url('/img/main/hits_headings.png') no-repeat center;
  }

  .popular-goods-container {
    margin-bottom: 30px;
  }
}

.single-good-item {
  @include border-radius(4px);
  @include box-shadow(rgba(#000, 0.24) 0px 1px 3px);
  @include inline-block;
  width: 190px;
  height: 250px;
  margin: 0px 9px;
  padding: 10px;
  position: relative;
  text-align: center;

  .single-good-image {
    margin-bottom: 10px;
  }

  .single-good-title{
    display: block;
    height: 80px;
    padding: 0px 30px;
    line-height: 1.5;
    color: $itemTitleColor;
  }

  .single-good-item-custmer {
    position: absolute;
    width: 100%;
    height: 22px;
    bottom: 18px;
    left: 0px;
    padding: 0px 9px 0px 20px;
    text-align: left;

    .price {
      @include inline-block;
      font-size: 16px;
      color: $headingsColor;
      font-weight: bold;
      font-family: 'proxima_nova_rgbold';
      width: 105px;
    }

    .add-to-cart {
      @include inline-block;
      height: 22px;
      width: 72px;
      text-align: center;
      font-weight: bold;
      font-size: 9px;
      line-height: 24px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background: url('/img/main/to_cart.png')
    }
  }
}

.view-all{
  text-decoration: none;
  color: $linkColor;
  font-size: 18px;
  border-bottom: 1px solid rgba($linkColor, 0.5)
}